Key_flows.json
[
    {
        "id": "8381c865.236028",
        "type": "subflow",
        "name": "Single value",
        "info": "The 'single value' subflow allows to :\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on [Node-Red][nr]\r\n[nr]: https://nodered.org/docs/user-guide/editor/workspace/subflows\r\n\r\n\r\n-------\r\n\r\n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3c5ffe0d.9063b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "66397fd3.d8111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "varfilter",
                "type": "str",
                "value": ""
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "3c5ffe0d.9063b2",
        "type": "switch",
        "z": "8381c865.236028",
        "name": "filter variable",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "varfilter",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4e5ba7a5.14dec8"
            ]
        ]
    },
    {
        "id": "4e5ba7a5.14dec8",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only table of duplets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variabledata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "42bc6ed.5b20d9"
            ]
        ]
    },
    {
        "id": "42bc6ed.5b20d9",
        "type": "split",
        "z": "8381c865.236028",
        "name": "Split a table[1..n] of duplets in n msg of single duplet",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8b8ddb84.6fb208"
            ]
        ]
    },
    {
        "id": "8b8ddb84.6fb208",
        "type": "delay",
        "z": "8381c865.236028",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "66397fd3.d8111"
            ]
        ]
    },
    {
        "id": "66397fd3.d8111",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only value and delete timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e55704d8.696b68",
        "type": "tab",
        "label": "Key_Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "59efc33b.7ea22c",
        "type": "acquisition out",
        "z": "e55704d8.696b68",
        "name": "myProbe_Out",
        "probeconfig": "259bad62.d36b22",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "e8f75773.4f6398",
        "type": "acquisition in",
        "z": "e55704d8.696b68",
        "name": "myProbe_In",
        "probeconfig": "259bad62.d36b22",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "3a8322ed.a37e8e"
            ],
            []
        ]
    },
    {
        "id": "8ca5bc7b.ee3b4",
        "type": "variables",
        "z": "e55704d8.696b68",
        "groupname": "Key_Variables",
        "accesspoint": 0,
        "execonfig": "3a7e5f3d.25a5",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "Key_Flag",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1600598732640,
        "openStatus": true,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "59efc33b.7ea22c"
            ]
        ]
    },
    {
        "id": "9e1eb3f4.fab73",
        "type": "ui_button",
        "z": "e55704d8.696b68",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "8ca5bc7b.ee3b4"
            ]
        ]
    },
    {
        "id": "d2f2b780.c07028",
        "type": "ui_button",
        "z": "e55704d8.696b68",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "8ca5bc7b.ee3b4"
            ]
        ]
    },
    {
        "id": "3a8322ed.a37e8e",
        "type": "processing",
        "z": "e55704d8.696b68",
        "groupname": "Key_Variables",
        "groupid": "8ca5bc7b.ee3b4",
        "expressions": [],
        "statistics": [],
        "logmode": "full",
        "x": 480,
        "y": 360,
        "wires": [
            [
                "15b95979.4adc57"
            ],
            []
        ]
    },
    {
        "id": "ff94a22f.caf24",
        "type": "ui_button",
        "z": "e55704d8.696b68",
        "d": true,
        "name": "清除ADC采样原始值表",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "清除ADC采样原始值表",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "ebae685d.8765e8"
            ]
        ]
    },
    {
        "id": "ebae685d.8765e8",
        "type": "ui_chartst",
        "z": "e55704d8.696b68",
        "d": true,
        "group": "f9c34dde.1e2f4",
        "name": "ADC采样原始值",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "b2484fa0.2dafc",
        "type": "ui_led",
        "z": "e55704d8.696b68",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": "3",
        "height": "1",
        "label": "Key_Flag",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Key_Flag",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "15b95979.4adc57",
        "type": "subflow:8381c865.236028",
        "z": "e55704d8.696b68",
        "name": "Key_Flag",
        "env": [
            {
                "name": "varfilter",
                "value": "Key_Flag",
                "type": "str"
            }
        ],
        "x": 660,
        "y": 360,
        "wires": [
            [
                "b2484fa0.2dafc"
            ]
        ]
    },
    {
        "id": "259bad62.d36b22",
        "type": "probe",
        "z": "",
        "probeid": "7869020119134B364A4C4E00",
        "probename": "ST-Link v2 (...C4E00)",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J37",
        "connectionType": "p2p"
    },
    {
        "id": "3a7e5f3d.25a5",
        "type": "exe-config",
        "z": "",
        "name": "Key",
        "exefile": "D:\\Code\\Key_demo\\Debug\\Key_demo.elf",
        "exefolder": "D:\\Code\\Key_demo\\Debug",
        "exevariablelist": [
            {
                "address": "0x08001a34",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08001a3e",
                "name": "AHBPrescTable[10]",
                "type": 1
            },
            {
                "address": "0x08001a3f",
                "name": "AHBPrescTable[11]",
                "type": 1
            },
            {
                "address": "0x08001a40",
                "name": "AHBPrescTable[12]",
                "type": 1
            },
            {
                "address": "0x08001a41",
                "name": "AHBPrescTable[13]",
                "type": 1
            },
            {
                "address": "0x08001a42",
                "name": "AHBPrescTable[14]",
                "type": 1
            },
            {
                "address": "0x08001a43",
                "name": "AHBPrescTable[15]",
                "type": 1
            },
            {
                "address": "0x08001a35",
                "name": "AHBPrescTable[1]",
                "type": 1
            },
            {
                "address": "0x08001a36",
                "name": "AHBPrescTable[2]",
                "type": 1
            },
            {
                "address": "0x08001a37",
                "name": "AHBPrescTable[3]",
                "type": 1
            },
            {
                "address": "0x08001a38",
                "name": "AHBPrescTable[4]",
                "type": 1
            },
            {
                "address": "0x08001a39",
                "name": "AHBPrescTable[5]",
                "type": 1
            },
            {
                "address": "0x08001a3a",
                "name": "AHBPrescTable[6]",
                "type": 1
            },
            {
                "address": "0x08001a3b",
                "name": "AHBPrescTable[7]",
                "type": 1
            },
            {
                "address": "0x08001a3c",
                "name": "AHBPrescTable[8]",
                "type": 1
            },
            {
                "address": "0x08001a3d",
                "name": "AHBPrescTable[9]",
                "type": 1
            },
            {
                "address": "0x08001a44",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08001a45",
                "name": "APBPrescTable[1]",
                "type": 1
            },
            {
                "address": "0x08001a46",
                "name": "APBPrescTable[2]",
                "type": 1
            },
            {
                "address": "0x08001a47",
                "name": "APBPrescTable[3]",
                "type": 1
            },
            {
                "address": "0x08001a48",
                "name": "APBPrescTable[4]",
                "type": 1
            },
            {
                "address": "0x08001a49",
                "name": "APBPrescTable[5]",
                "type": 1
            },
            {
                "address": "0x08001a4a",
                "name": "APBPrescTable[6]",
                "type": 1
            },
            {
                "address": "0x08001a4b",
                "name": "APBPrescTable[7]",
                "type": 1
            },
            {
                "address": "0x20000048",
                "name": "htim7.Channel",
                "type": 2
            },
            {
                "address": "0x2000006e",
                "name": "htim7.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x2000006f",
                "name": "htim7.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x20000070",
                "name": "htim7.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x20000071",
                "name": "htim7.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x2000006a",
                "name": "htim7.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000006b",
                "name": "htim7.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x2000006c",
                "name": "htim7.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x2000006d",
                "name": "htim7.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x20000072",
                "name": "htim7.DMABurstState",
                "type": 2
            },
            {
                "address": "0x2000004c",
                "name": "htim7.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000050",
                "name": "htim7.hdma[1]",
                "type": 5
            },
            {
                "address": "0x20000054",
                "name": "htim7.hdma[2]",
                "type": 5
            },
            {
                "address": "0x20000058",
                "name": "htim7.hdma[3]",
                "type": 5
            },
            {
                "address": "0x2000005c",
                "name": "htim7.hdma[4]",
                "type": 5
            },
            {
                "address": "0x20000060",
                "name": "htim7.hdma[5]",
                "type": 5
            },
            {
                "address": "0x20000064",
                "name": "htim7.hdma[6]",
                "type": 5
            },
            {
                "address": "0x20000044",
                "name": "htim7.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x2000003c",
                "name": "htim7.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "htim7.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000038",
                "name": "htim7.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "htim7.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "htim7.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "htim7.Instance",
                "type": 5
            },
            {
                "address": "0x20000068",
                "name": "htim7.Lock",
                "type": 2
            },
            {
                "address": "0x20000069",
                "name": "htim7.State",
                "type": 2
            },
            {
                "address": "0x20000028",
                "name": "Key_Flag",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            }
        ],
        "expand": true,
        "filename": "Key_demo.elf",
        "exeModifiedTime": 1600598663738,
        "configLastUpdate": 1600598732305
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "z": "",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]